<form onsubmit={{action "save"}}>
  <fieldset>
    <legend>New Training Type</legend>
    <p>
      <label for="training-type-name">Name</label>
      {{input type="text"
        placeholder="Name" name="name"
        id="training-type-name"
        value=formValues.name}}
    </p>

    <p>
      <button type="button">Reset</button>
      <button type="submit">Submit</button>
    </p>
  </fieldset>
</form>
